body { 
font-family:Arial,Helvettica,sans-serif;
background-color: #737987;
border-style: groove;
border-width: 20px;
color #05034E
}

H1 {
    text-align: center;
    color: #05034E;
} 

div {
width: 900px;
background-color: #737987;
border-style: groove;
border-width: 10px;
color #05034E}


